@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import 'node_modules/modern-normalize/modern-normalize.css';

/* Контакти */
#Contacts {
    background-color: #4c4a49;
    padding-top: 3rem;
    width: auto;
    min-height: 800px;
}
#Contacts h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #f7ddba;
    border-bottom: 15px ridge #8b7d70;
    
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    height: 30px;
}
.container-contacts {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* -- FORM -- */
.container-form {
    max-width: 600px;
    max-height: 500px;
    margin-top: 50px;
    padding: 20px;
    padding-top: 60px;
    background-color: #4c4a49;
    border-radius: 5px;
    box-shadow: 0 30px 45px -10px rgba(0, 0, 0, 0.1);
}

form h4 {
    margin-bottom: 60px;
    font-size: 18px;
    color: #d2d1d1;
    text-align: center;
    border-bottom: 8px ridge #8b7d70;
}

.contact-form form:after {
	content:"";
	display:block;
	clear:both;
}

form .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    background-color: #4c4a49;
    border: none;
    border-bottom: 3px ridge #8b7d70;
    color: #d2d1d1;
    box-sizing: border-box;
    font-size: 14px;
}

form .input:hover {
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.1);
}

form textarea {
    min-width: 100px;
    min-height: 50px;
    max-width: 400px;
    max-height: 100px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: #555;
}

.contact-form textarea.input {
	width: 200px;
    height: 200px;
}

/* -- Contact Information -- */
.container-contacts-info {
    max-width: 600px;
    max-height: 500px;
    margin-left: 10rem;
    margin-top: 50px;
    padding: 20px;
    padding-top: 60px;
    background-color: #4c4a49;
    border-radius: 5px;
    box-shadow: 0 30px 45px -10px rgba(0, 0, 0, 0.1);
}

.contact-details h4 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #d2d1d1;
    text-align: center;
    border-bottom: 8px ridge #8b7d70;
}

.contact-details a  {
    display: flex;
	margin-bottom: 10px;
    width: 220px;
	
    color: #d2d1d1;
    text-decoration: none;
}

.contact-details a:hover {
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);

} 

.contact-details a i {
	color: #f7ddba;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

/* -- Contact Map -- */
#contact-map {
    width: 600px;
    height: 280px;
	border-radius:4px;
}

#contact-map:hover {
    box-shadow: 0 15px 15px 10px rgba(0, 0, 0, 0.1);
}